@font-face {
    font-family: 'Josefin';
    src: url(JosefinSans-VariableFont_wght.ttf) format('truetype');
    font-weight: 900;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin';
}
.table{
    height: 100%;
    max-width: 100vw;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}
.head{
    position: absolute;
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
}
.firstrow{
    display: grid;   
    width: 100%;
    padding: 0px 5px;
    grid-template-columns: repeat(18, 1fr);
}
.firstrow .bisque1{
    grid-column: 18 / span1;
}
.lightyellow{
    background-color: lightgoldenrodyellow;
    padding: 2px;  
    border: 1px solid grey;
}
.type{
    display: flex;
    justify-content: center;
    font-size: 7px;
}
.num{
   display: flex;
   justify-content: center;
   font-size: 12px;
}
.sym{
    display: flex;
    justify-content: center;
    font-size: 25px;
}
.name{
    display: flex;
    justify-content: center;
    font-size: 10px;
}
.lightgreen1{
    background-color: rgb(172, 243, 168);
    border: 1px solid grey;
}
.bisque1{
    background-color: bisque;   
    border: 1px solid grey;
}
.lightgreen{
    background-color: rgb(172, 243, 168);
    border: 1px solid grey;
}
.bisque{
    background-color: bisque;   
    border: 1px solid grey;
}
.pink{
    background-color: pink;
    padding: 5px;
    border: 1px solid grey;
}
.secondrow{
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    gap: 2px;
    padding: 0px 5px;
}
.green{
    grid-column: 13/ span 1;
}
.lightb{
    background-color: lightblue;
    padding: 2px;
    border: 1px solid grey;
}
.nothing{
    width: 70px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.thirdrow{
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    gap: 2px;
    padding: 0px 5px;
}
.alu{
    grid-column: 13/ span 1;
}
.fourthrow{
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    gap: 2px;
    padding: 0px 5px;
}
.bisque2{
    background-color: bisque;
    padding: 2px;
    border: 1px solid grey;
}
.lightgreen2{
    background-color: rgb(185, 255, 181); 
    border: 1px solid grey;
}
.lightgreen3{
    background-color: rgb(185, 255, 181); 
    border: 1px solid grey;
}
.fifthrow{
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(18, 1fr);
    padding: 0px 5px;
}
.sixthrow{
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(18, 1fr);
    padding: 0px 5px;
}
.seventhrow{
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    padding: 0px 5px;
    gap: 2px;
}
.eigthrow{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    gap: 2px;
    padding: 0px 5px;
    padding-top:6px;
}
.name1{
    padding-left: 40px;
    font-size: 7px;
}
.ninthrow{
    width: 100%;
    
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(18, 1fr);
    padding: 0px 5px;
}
@media only screen and (max-width:1024px){
    .sym{
        font-size: 15px;
    }   
    .num{
        font-size: 8px;
    }
    .name{
        font-size: 6px;
    }
    .type{
        font-size: 3px;
    }
}